In [11]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

# Data Preparation

## Johns Hopkins GITHUB csv data

In [12]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)

In [13]:
pd_raw.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,8/19/20,8/20/20,8/21/20,8/22/20,8/23/20,8/24/20,8/25/20,8/26/20,8/27/20,8/28/20
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,37599,37856,37894,37953,37999,38054,38070,38113,38129,38140
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,7812,7967,8119,8275,8427,8605,8759,8927,9083,9195
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,39847,40258,40667,41068,41460,41858,42228,42619,43016,43403
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,1024,1024,1045,1045,1045,1060,1060,1098,1098,1124
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,2015,2044,2068,2134,2171,2222,2283,2332,2415,2471

In [14]:
time_idx=pd_raw.columns[5:]

In [15]:
df_plot = pd.DataFrame({
    'date':time_idx})
df_plot.head()

      date
0  1/23/20
1  1/24/20
2  1/25/20
3  1/26/20
4  1/27/20

In [16]:
pd_raw['Country/Region']

0                           Afghanistan
1                               Albania
2                               Algeria
3                               Andorra
4                                Angola
5                   Antigua and Barbuda
6                             Argentina
7                               Armenia
8                             Australia
9                             Australia
10                            Australia
11                            Australia
12                            Australia
13                            Australia
14                            Australia
15                            Australia
16                              Austria
17                           Azerbaijan
18                              Bahamas
19                              Bahrain
20                           Bangladesh
21                             Barbados
22                              Belarus
23                              Belgium
24                               Belize
25                                Benin
26                               Bhutan
27                              Bolivia
28               Bosnia and Herzegovina
29                             Botswana
30                               Brazil
31                               Brunei
32                             Bulgaria
33                         Burkina Faso
34                                Burma
35                              Burundi
36                           Cabo Verde
37                             Cambodia
38                             Cameroon
39                               Canada
40                               Canada
41                               Canada
42                               Canada
43                               Canada
44                               Canada
45                               Canada
46                               Canada
47                               Canada
48                               Canada
49                               Canada
50                               Canada
51                               Canada
52                               Canada
53             Central African Republic
54                                 Chad
55                                Chile
56                                China
57                                China
58                                China
59                                China
60                                China
61                                China
62                                China
63                                China
64                                China
65                                China
66                                China
67                                China
68                                China
69                                China
70                                China
71                                China
72                                China
73                                China
74                                China
75                                China
76                                China
77                                China
78                                China
79                                China
80                                China
81                                China
82                                China
83                                China
84                                China
85                                China
86                                China
87                                China
88                                China
89                             Colombia
90                              Comoros
91                  Congo (Brazzaville)
92                     Congo (Kinshasa)
93                           Costa Rica
94                        Cote d'Ivoire
95                              Croatia
96                                 Cuba
97                               Cyprus
98                              Czechia
99                              Denmark
100                             Denmark
101                             Denmark
102                    Diamond Princess
103                            Djibouti
104                            Dominica
105                  Dominican Republic
106                             Ecuador
107                               Egypt
108                         El Salvador
109                   Equatorial Guinea
110                             Eritrea
111                             Estonia
112                            Eswatini
113                            Ethiopia
114                                Fiji
115                             Finland
116                              France
117                              France
118                              France
119                              France
120                              France
121                              France
122                              France
123                              France
124                              France
125                              France
126                              France
127                               Gabon
128                              Gambia
129                             Georgia
130                             Germany
131                               Ghana
132                              Greece
133                             Grenada
134                           Guatemala
135                              Guinea
136                       Guinea-Bissau
137                              Guyana
138                               Haiti
139                            Holy See
140                            Honduras
141                             Hungary
142                             Iceland
143                               India
144                           Indonesia
145                                Iran
146                                Iraq
147                             Ireland
148                              Israel
149                               Italy
150                             Jamaica
151                               Japan
152                              Jordan
153                          Kazakhstan
154                               Kenya
155                        Korea, South
156                              Kosovo
157                              Kuwait
158                          Kyrgyzstan
159                                Laos
160                              Latvia
161                             Lebanon
162                             Lesotho
163                             Liberia
164                               Libya
165                       Liechtenstein
166                           Lithuania
167                          Luxembourg
168                          MS Zaandam
169                          Madagascar
170                              Malawi
171                            Malaysia
172                            Maldives
173                                Mali
174                               Malta
175                          Mauritania
176                           Mauritius
177                              Mexico
178                             Moldova
179                              Monaco
180                            Mongolia
181                          Montenegro
182                             Morocco
183                          Mozambique
184                             Namibia
185                               Nepal
186                         Netherlands
187                         Netherlands
188                         Netherlands
189                         Netherlands
190                         Netherlands
191                         New Zealand
192                           Nicaragua
193                               Niger
194                             Nigeria
195                     North Macedonia
196                              Norway
197                                Oman
198                            Pakistan
199                              Panama
200                    Papua New Guinea
201                            Paraguay
202                                Peru
203                         Philippines
204                              Poland
205                            Portugal
206                               Qatar
207                             Romania
208                              Russia
209                              Rwanda
210               Saint Kitts and Nevis
211                         Saint Lucia
212    Saint Vincent and the Grenadines
213                          San Marino
214               Sao Tome and Principe
215                        Saudi Arabia
216                             Senegal
217                              Serbia
218                          Seychelles
219                        Sierra Leone
220                           Singapore
221                            Slovakia
222                            Slovenia
223                             Somalia
224                        South Africa
225                         South Sudan
226                               Spain
227                           Sri Lanka
228                               Sudan
229                            Suriname
230                              Sweden
231                         Switzerland
232                               Syria
233                             Taiwan*
234                          Tajikistan
235                            Tanzania
236                            Thailand
237                         Timor-Leste
238                                Togo
239                 Trinidad and Tobago
240                             Tunisia
241                              Turkey
242                                  US
243                              Uganda
244                             Ukraine
245                United Arab Emirates
246                      United Kingdom
247                      United Kingdom
248                      United Kingdom
249                      United Kingdom
250                      United Kingdom
251                      United Kingdom
252                      United Kingdom
253                      United Kingdom
254                      United Kingdom
255                      United Kingdom
256                      United Kingdom
257                             Uruguay
258                          Uzbekistan
259                           Venezuela
260                             Vietnam
261                  West Bank and Gaza
262                      Western Sahara
263                               Yemen
264                              Zambia
265                            Zimbabwe
Name: Country/Region, dtype: object

In [17]:
pd_raw[pd_raw['Country/Region']=='India'].iloc[:,4::].sum(axis=0)[0:4]

1/22/20    0
1/23/20    0
1/24/20    0
1/25/20    0
dtype: int64

In [18]:
country_list=['Italy',
              'US',
              'Spain',
              'Germany',
              'Korea, South',
             ]

In [ ]:
%matplotlib inline
df_plot.set_index('date').plot()

## Data Type Date

In [ ]:
df_plot.head()

In [ ]:
time_idx=[datetime.strptime( each,"%m/%d/%y") for each in df_plot.date] # convert to datetime
time_str=[each.strftime('%Y-%m-%d') for each in time_idx] # convert back to date ISO norm (str)

In [ ]:
df_plot['date']=time_idx
type(df_plot['date'][0])

In [ ]:
df_plot.head()

In [ ]:
df_plot.to_csv('../data/processed/COVID_small_flat_table.csv',sep=';',index=False)

## Relational data model - defining a primary key

In [ ]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw=pd.read_csv(data_path)
pd_raw.head()

In [ ]:
pd_data_base=pd_raw.rename(columns={'Country/Region':'country',
                      'Province/State':'state'})
pd_data_base['state']=pd_data_base['state'].fillna('no')  #ensure a sring, important for indexing

In [ ]:
pd_data_base=pd_data_base.drop(['Lat','Long'],axis=1)
pd_data_base.head()

In [ ]:
pd_relational_model=pd_data_base.set_index(['state','country']) \
                                .T                              \
                                .stack(level=[0,1])             \
                                .reset_index()                  \
                                .rename(columns={'level_0':'date',
                                                   0:'confirmed'},
                                                  )
pd_relational_model.head()

In [ ]:
pd_relational_model.dtypes

In [ ]:
pd_relational_model['date']=pd_relational_model.date.astype('datetime64[ns]')

In [ ]:
pd_relational_model.dtypes

In [ ]:
pd_relational_model.confirmed=pd_relational_model.confirmed.astype(int)

pd_relational_model.to_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',index=False)

In [ ]:
print(pd_relational_model[pd_relational_model['country']=='US'].tail())

In [ ]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
pd_raw_US=pd.read_csv(data_path)
pd_raw_US.head()

In [ ]:
pd_raw_US=pd_raw_US.drop(['UID', 'iso2', 'iso3', 'code3', 'Country_Region','FIPS', 'Admin2',  'Lat', 'Long_', 'Combined_Key'],axis=1)
pd_data_base_US=pd_raw_US.rename(columns={'Province_State':'state'}).copy()

In [ ]:
pd_relational_model_US=pd_data_base_US.set_index(['state']) \
                                .T                              \
                                .stack()             \
                                .reset_index()                  \
                                .rename(columns={'level_0':'date',
                                                   0:'confirmed'},
                                                  )
pd_relational_model_US['country']='US'
pd_relational_model_US['date']=[datetime.strptime( each,"%m/%d/%y") for each in pd_relational_model_US.date] # convert to datetime
pd_relational_model_US.head()

In [ ]:
pd_relational_model_all=pd_relational_model[pd_relational_model['country']!='US'].reset_index(drop=True)

In [ ]:
pd_relational_model_all=pd.concat([pd_relational_model_all,pd_relational_model_US],ignore_index=True)

In [ ]:
pd_relational_model_all.to_csv('../data/processed/20200424_COVID_relational_confirmed.csv',sep=';',index=False)

In [ ]:
print(pd_relational_model_all[pd_relational_model_all['country']=='US'])

### cross check on full sum US data

In [ ]:
check_US=pd_relational_model_all[pd_relational_model_all['country']=='US']

In [ ]:

check_US[['date','country','confirmed']].groupby(['date','country']).sum()